# Virtual Environment
venv/
.venv/
env/

# Credentials & Secrets
.env
.secrets/
*.json
!credentials.json.example

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# OS-specific files
.DS_Store
Thumbs.db
